@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=VT323&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: url('./img/jungle2.jpg') no-repeat center center/cover ;
    position: relative;
}

body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}


.logo-container{
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.logo{
 font-family: 'VT323', monospace;
 font-size: 60px;
 color: #fff;
}

.btns{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    gap: 25px;
    z-index: 1;
}

.btns > a{
    text-decoration: none;
    border: 1px solid #333;
    height: 30px;
    width: 150px;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 20px;
    background: url('./img/custom-btn1.png') no-repeat center center/cover;
    color: #fff;
}

.con-btns{
    display: flex;
 
    width: 100%;
    height: 20%;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    z-index: 1;
}
.con-btns > a{
    text-decoration: none;
    border: 1px solid #333;
    height: 30px;
    width: 150px;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 20px;
    background: url('./img/custom-btn1.png') no-repeat center center/cover;
    color: #fff;
}

.controls{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: #fff;
    z-index: 1;
}


